<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <h2>firstName</h2>
    <input class="form-control" type="text" formControlName="firstName">
  </div>
  <div>
    <h2>lastName</h2>
    <input class="form-control" type="text" formControlName="lastName">
    <ng-container *ngIf="this.form.get('lastName').errors && this.form.get('lastName').touched">
      <span *ngIf="this.form.get('lastName').hasError('required')" class="error">不得為空</span>
    </ng-container>
  </div>
  <div>
    <h2>phones  <button (click)="addPhone()">+</button></h2>
    <div formArrayName="phones">
        <div *ngFor="let phone of phones.controls; index as i">
          phone {{ i+1 }}：
          <input [formControlName]="i" placeholder="you phone">
          <ng-container *ngIf="phone.errors && phone.touched">
            <span *ngIf="phone.hasError('required')" class="error">不得為空</span>
            <span *ngIf="phone.hasError('pattern')" class="error">手機格式錯誤</span>
          </ng-container>
          <button (click)="removePhone(i)">remove</button>
        </div>
      </div>
  </div>

  <button [disabled]="form.invalid">Save</button>
</form>

{{ form.value | json }}

<router-outlet></router-outlet>
